body {
  background: linear-gradient(115.56deg, #051923 0.3%, #154a64 34.32%);
  height: 100vh;

  display: flex;
  align-items: center;

  font-family: "Roboto", sans-serif;
}

#vcard {
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 600px;

  border-radius: 16px;

  background-color: #02202f;

  color: white;
}

#vcard img {
  width: 100px;
}

h1,
h2,
h3 {
  color: #003554;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.contact li {
  margin: 0 1em;
}

.contact a {
  color: #02202f;
  text-decoration: none;

  display: inline-block;

  background-color: #44fc40;

  padding: 4px 8px;
  border-radius: 16px;
}

.skills {
  display: flex;

  margin-top: 2em;
}

.skills li {
  margin: 0 1em;
  text-align: center;
}

.skills li ul li {
  text-align: center;
}
