body {
  background: linear-gradient(115.56deg, #051923 0.3%, #154a64 34.32%);
  height: 100vh;
}

#vcard {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

#vcard img {
  width: 100px;
}
