body {
  background: linear-gradient(115.56deg, #051923 0.3%, #154a64 34.32%);
  height: 100vh;

  font-family: "Roboto", sans-serif;
}

#vcard {
  margin: 10% auto;
  padding: 16px;

  width: 600px;

  border-radius: 16px;

  background-color: #02202f;

  color: white;

  text-align: center;
  display: grid;
}

#vcard img {
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #003554;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10px;
}

.contact li:first-child {
  text-align: right;
}

.contact li:nth-child(2) {
  text-align: left;
}

.contact li {
  margin: 0 1em;
}

.contact a {
  color: #02202f;
  text-decoration: none;

  display: inline-block;

  background-color: #44fc40;

  padding: 4px 8px;
  border-radius: 16px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
}

.skills ul:first-child {
  text-align: right;
}

.contact ul:nth-child(2) {
  text-align: left;
}
